<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SMDCOMPONETSEntities1" connectionString="metadata=res://*/SMDModel.csdl|res://*/SMDModel.ssdl|res://*/SMDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=SMDCOMPONETS;user id=volodin; Password = volodin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QAEntities" connectionString="metadata=res://*/ScrapModel.csdl|res://*/ScrapModel.ssdl|res://*/ScrapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=QA;user id=volodin; Password = volodin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FASEntities" connectionString="metadata=res://*/fas.csdl|res://*/fas.ssdl|res://*/fas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=FAS;user id=volodin;password=volodin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>